# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/
.tox/
.pytest_cache/

# Local configuration
*.repomix*
repomix-output.txt

# External
temp-clone/
